---
import Layout from '@/layouts/layout.astro'

import { careers, hobbies } from './data'
---

<Layout title="About" ogpPath="about">
  <h1 class="text-3xl font-bold mb-6">About Me</h1>

  <div class="space-y-6">
    <!-- 自己紹介 -->
    <section class="space-y-2">
      <p class="leading-relaxed">常見健太。ハンドルネームはtocomi。</p>
      <p class="leading-relaxed">
        実際は本名の「つねみ」で呼ばれることが多いので、自己紹介でいつも迷ってます。
      </p>
      <p class="leading-relaxed">栃木県出身の1992年生まれ。</p>
    </section>

    <!-- 経歴 -->
    <section>
      <h2 class="text-2xl font-bold mb-4">Career</h2>
      <div class="relative border-l-2 border-gray-300 pl-4 space-y-8">
        {
          careers.map(career => (
            <div class="relative">
              <div class="absolute -left-6.75 w-5 h-5 bg-blue-500 rounded-full border-4 border-white" />
              <div class="space-y-1">
                <p class="text-sm text-gray-700">{career.period}</p>
                <div>
                  <h3 class="text-lg font-bold">{career.company}</h3>
                  <p class="text-sm text-gray-700">{career.role}</p>
                </div>
                <div class="space-y-1">
                  {career.description.map(line => (
                    <p>{line}</p>
                  ))}
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <!-- 趣味 -->
    <section>
      <h2 class="text-2xl font-bold mb-4">Hobbies</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
          hobbies.map(hobby => (
            <div class="p-6 bg-gray-50 rounded-lg">
              <h3 class="text-xl font-bold mb-2">
                {hobby.icon} {hobby.title}
              </h3>
              {Array.isArray(hobby.description) ? (
                <div class="space-y-1">
                  {hobby.description.map(line => (
                    <p class="text-gray-700">{line}</p>
                  ))}
                </div>
              ) : (
                <p class="text-gray-700">{hobby.description}</p>
              )}
            </div>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
