---
import Layout from '@/layouts/layout.astro'
import BlogCard from '@/components/blog-card.astro'
import { getCollection } from 'astro:content'
import type { Blog } from '@/content/types'
import { externalPosts } from '@/content/external-posts'

type Post = Blog & {
  id: string
}

const posts = await getCollection('blog')
const mergedPosts: Post[] = [
  ...posts.map(post => ({ ...post.data, id: post.id })),
  ...externalPosts.map(post => ({ ...post, id: post.external?.url ?? '' })),
]
const sortedPosts = mergedPosts.sort(
  (a, b) => b.pubDate.getTime() - a.pubDate.getTime()
)
---

<Layout title="Blog">
  <h1 class="mb-8 text-3xl font-bold text-gray-900">Blog</h1>
  <div class="flex flex-col gap-2">
    {
      sortedPosts.map(post => (
        <BlogCard
          href={post.external?.url ?? `/blog/${post.id}`}
          title={post.title}
          pubDate={post.pubDate}
          tags={post.tags}
          external={post.external}
        />
      ))
    }
  </div>
</Layout>
