---
import type { Blog } from '@/content/types'
import ExternalIcons from '@/components/external-icons.astro'
import { formatFullDate } from '@/utils/date-util'

type Props = Blog & {
  href: string
}

const { href, title, pubDate, tags, external } = Astro.props

const formattedDate = formatFullDate(pubDate)
---

<article
  class="group border-b border-gray-200 pt-2 pb-3 first:pt-0 last:border-b-0"
>
  <a href={href} class="block" target={external ? '_blank' : '_self'}>
    <div class="flex flex-col gap-1.5">
      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-wrap gap-1">
          {
            tags.map(tag => (
              <span class="rounded-full px-2 py-0.25 text-[11px] text-gray-500 border-1 border-gray-500">
                {tag}
              </span>
            ))
          }
        </div>
        <time class="flex-shrink-0 text-sm text-gray-500">{formattedDate}</time>
      </div>
      <h2
        class="font-bold text-gray-900 transition-colors group-hover:text-blue-600"
      >
        {title}
        {external && <ExternalIcons platform={external.platform} />}
      </h2>
    </div>
  </a>
</article>
