---
import { ClientRouter } from 'astro:transitions'
import Header from '@/components/header.astro'

import '@/styles/global.css'

interface Props {
  title: string
  ogpPath: string
}

const { title, ogpPath } = Astro.props
const ogImageUrl = `${Astro.site}ogp/${ogpPath}.png`
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} | I am tocomi`}</title>
    <ClientRouter />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />

    <!-- OGP -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content="I am tocomi" />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:url" content={Astro.url.toString()} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="I am tocomi" />
    <meta name="twitter:image" content={ogImageUrl} />
  </head>
  <body>
    <Header />
    <main class="mx-auto max-w-3xl p-6 py-10">
      <slot />
    </main>
  </body>
</html>
