---
import Header from '@/components/header.astro'

import '@/styles/global.css'

interface Props {
  title: string
  ogpPath: string
}

const { title, ogpPath } = Astro.props
const ogImageUrl = `/ogp/${ogpPath}`
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} | I am tocomi`}</title>

    <!-- OGP -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content="I am tocomi" />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:url" content={Astro.url.toString()} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="I am tocomi" />
    <meta name="twitter:image" content={ogImageUrl} />
  </head>
  <body>
    <Header />
    <main class="mx-auto max-w-3xl p-6">
      <slot />
    </main>
  </body>
</html>
